{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block head %}
<link rel="stylesheet" type="text/css" href="/static/questions/questions.css" />
<script src="/static/questions/vote.js"> </script>
{%endblock%}

{% block jumbo %}
<div class="container">
 </div>
{% endblock %}


{%block content %}
<div class="text-center">
    <h1>Все вопросы</h1>
    <br>
</div>

<div class="clearfix">
    <div class="pull-right">

        <form action='{% url 'core:questions:all' %}' method="get" class="form-inline">
            <label> Сортировать по: </label>
            {% crispy sort_form %}
        </form>
    </div>
</div>

{% for question in object_list %}
    <hr>
    <div class="question">
        <div class="qRating" data-type="question" data-number="{{question.pk}}">
            <p>
                {{question.rating2}}
            </p>
            {% if user in question.ratingUsers.all %}

            {% else %}
                {% if user.is_authenticated %}
                    <button class="ratingUp btn btn-success" data-type="question" data-number="{{question.pk}}">
                        Like
                    </button>
                {% endif %}
            {% endif %}
        </div>

        <div class="qBody">
            <div class="qContainer">
                <div class="qTitle">
                    <a class="" href='{% url 'core:questions:question' question.pk %}'>
                        {{ question.title }}
                    </a>
                </div>

                <div class="qAuthor">
                    <div>
                        at {{question.created_at|date:'H:i d-m-Y'}}
                    </div>

                    <img src="{{question.author.profile.avatar.url}}" class="img-circle"  height="30px"/>

                    <span class="colored"> by {{question.author}} </span>

                </div>
                {% for tag in question.tags.all %}
                    <span class="tag"> {{tag.title}} </span>
                {%endfor%}

            </div>
        </div>
    </div>
{% endfor %}
<hr>

<div style="visibility:hidden" id="ajax" data-csrf="{{csrf_token}}" data-url="{% url 'core:ratingchange' %}">
</div>


{%endblock%}
