{% if answers %}

    {% for answer in answers %}
    <hr>
        <div class="question">
            <div class="qRating" >
                <p>{{answer.rating2}}</p>
                {% if user in answer.ratingUsers.all %}

                {% else %}
                    {% if user.is_authenticated %}
                        <button class="ratingUp btn btn-success" data-type="answer" data-number="{{answer.pk}}">
                            Like
                        </button>
                    {%endif%}

                {% endif %}
            </div>

            <div class="qBody">

                <div class="qContainer">

                    <div class="qDesc text-center">
                        {{ answer.body }}
                    </div>
                    <div class="qAuthor">
                        <div>
                            {{answer.created_at|date:'H:i d-m-Y'}}
                        </div>
                        <span class="colored"> {{answer.author}} </span>
                        <img src="{{answer.author.profile.avatar.url}}" class="img-circle"  height="40px"/>
                    </div>
                </div>

                    {% if answer.author == user %}
                        <a href="{% url 'core:answers:edit' answer.pk %}">
                            Редактировать
                        </a>
                    {% endif %}

            </div>


        </div>
    {% endfor %}
{% else %}
    No answers yet
{% endif %}
