{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block head %}
<link rel="stylesheet" type="text/css" href="/static/questions/questions.css" />
{%endblock%}

{%block content %}
<div class="curTitle">
    Новый вопрос
</div>

<form action="" method="post">
    {% csrf_token %}
    {% crispy form %}
</form>

{%endblock%}
