{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block content %}

{%block head %}


<script src="//cdn.jsdelivr.net/sockjs/1.0/sockjs.min.js" type="text/javascript"></script>

<script src="/static/js/centrifuge.js"></script>

<script src="/static/questions/vote.js"> </script>
<script src="/static/questions/loadAnswers.js"></script>

<link rel="stylesheet" type="text/css" href="/static/questions/questions.css" />
<style>

</style>
{%endblock%}

<div class="question" style="border:solid; margin-top: 1em">
    <div class="qRating" data-type="question" data-number="{{question.pk}}">
        <p>{{ question.ratingUsers.count }}</p>
        {% if user in question.ratingUsers.all %}

        {% else %}
            {% if user.is_authenticated %}
                <button class="ratingUp btn btn-success" data-type="quesiton" data-number="{{question.pk}}">
                    Like
                </button>
            {%endif%}
        {% endif %}
    </div>
    <div class="qBody">
        <div class="qContainer">
            <div class="qTitle curTitle">
                <span>
                    {{ question.title }}
                </span>
            </div>
            <div class="qDesc">
                {{question.body}}
            </div>
            <div class="qAuthor">
                <div>
                    {{question.created_at|date:'H:i d-m-Y'}}
                </div>

                <img src="{{question.author.profile.avatar.url}}" class="img-circle"  height="40px"/>

                <span class="colored"> {{question.author}} </span>
            </div>
            {% for tag in question.tags.all %}
                <span class="tag"> {{tag.title}} </span>
            {%endfor%}
            <br>
        </div>
        <div>
            {% if question.author == user %}
                <a href="{% url 'core:questions:edit' question.pk %}">
                    Редактировать
                </a>
            {% endif %}
        </div>
    </div>

</div>

<div class="curTitle">
    Ответы
</div>



<div class="clearfix">
    <div class="pull-right">
        <form action='{% url 'core:questions:question' question.pk %}' method="get" class="form-inline">
            <label> Сортировать по: </label>
            {% crispy sort_form %}
        </form>
    </div>
</div>

<div id="answers">

</div>

<hr>

<div id="new_comment">
    {% if user.is_anonymous %}
        Чтобы ответить на вопрос,
        <a href="{% url 'core:login' %}?next={{request.path}}%23new_comment">
            войдите
        </a>
    {% else %}
    <form action="" method="post" >
        {% csrf_token %}
        {% crispy form %}
    </form>
    {% endif %}
</div>
<div style="visibility:hidden" id="ajax" data-csrf="{{csrf_token}}" data-url="{% url 'core:ratingchange' %}">
</div>
<div style="visibility:hidden" id="loader" data-url='{%url "core:questions:answers" pk=question.pk %}?sort_field={{ordering}}'>
</div>

<div id="answers-cent-data"
    data-cent-url="{{ CENTRIFUGE_SOCKJS_ENDPOINT }}"
    data-cent-user="{{ CENTRIFUGE_USER }}"
    data-cent-ts="{{ CENTRIFUGE_TIMESTAMP }}"
    data-cent-info="{{ CENTRIFUGE_INFO }}"
    data-cent-token="{{ CENTRIFUGE_TOKEN }}"
    data-cent-channel="{{ question.get_cent_answers_channel_name }}">

</div>
{%endblock%}
