body {
    font-family: 'Trocchi';
}


.blue {
    background-color: #55acee;
    box-shadow: 0px 2px 0px 0px #3C93D5;
}

.whiteText {
    color: white;
    font-size: 1.5em;
}

.blueText {
    color: blue;
}

.beautifulSubmit {
    color: #fff;
    padding:5px 15px;
    background-color: #55acee;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
}

.header {
    vertical-align: middle;
    padding: 10px;
    width: 100%;
    background: #eee;
    overflow: hidden;
    text-transform:uppercase;
    display: flex;
}


.greeting {
    margin: auto;
    margin-right: 5%;
    float:right;
}

.inlineForm {
    display: inline;
}

.title {
    margin: auto 0px;
    font-size: 35px;
    line-height: 40px;
    font-family:'Muli';
    color: #55acee;
    overflow:hidden;
    float: left;
}

.link {
    border-bottom: dashed;
    text-decoration: none;
}

.colored {
    color:  #4863A0;
}

.link:hover {
    border-bottom: solid;
}

.link:visited {
    color: inherit;
}

.center {
    margin-top: 10%;
    text-align: center;
    font-size: 1000%;
}
