{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block head %}
<link rel="stylesheet" type="text/css" href="/static/questions/questions.css" />
{%endblock%}

{%block content %}
<div class="curTitle">
        Редактировать ответ
</div>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>

{%endblock%}
