{%extends "base.html"%}

{% block head %}
{% endblock %}

{%block content%}
<div class="center">
    <a class="link colored" href="{% url 'core:questions:all' %}"> Все вопросы </a>
    <br>
    <a class="link colored" href="{% url 'core:questions:create' %}"> Задать вопрос </a>
</div>
{%endblock%}
