{% load crispy_forms_tags %}
<html>
    <head>
        <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
        <title> Best Q&amp;A site ever! </title>
        <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/base.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">

        <!-- JS -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
        <script type="text/javascript" src='/static/questions/select.js'></script>
        {%block head%}

        {%endblock%}
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="jumbotron">
            {% block jumbo %}
            {% endblock %}
        </div>
        <div class="row marketing">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                {%block content%}
                {%endblock%}
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </body>
</html>
