{% load crispy_forms_tags %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">[STACKOVERFLOW]</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'core:questions:create' %}">Задать вопрос</a></li>
            </ul>
            {% if user.is_anonymous %}
                <form class="navbar-form navbar-right" method="post" action="{% url 'core:login' %}?next={% if next %}{{next}}{% else %}{{request.path}}{% endif %}">
                    {%csrf_token%}
                    {% crispy login_form %}
                    <input type="hidden" name="next" value="{% if next %}{{next}}{% else %}{{request.path}}{% endif %}" />1
                </form>
            {% else %}
                <form  class="navbar-form navbar-right" method="post" action="{% url 'core:logout' %}?next={% if next %}{{next}}{% else %}{{request.path}}{% endif %}">
                    <span class="whiteText"> Hello, {{ user }} </span>
                    {% csrf_token %}
                    <input type="submit" class="btn btn-success"  value="Log out" />
                </form>
            {% endif %}
        </div>
    <!--/.nav-collapse -->
    </div>
</nav>
