.qDesc{
    text-align: left;
}
.question{
    display: flex;
}
.qBody {
    width: 94%;
    display: inline-block;
}
.qTitle {
    font-size: 3em;
    text-align: center;
}
.qAuthor {
    float:right;
    font-size: 1em;
}
.qRating {
    margin:auto;
    width: 4%;
    font-size: 2em;
    text-align: center;
    display: inline-block;
}

.curTitle {
    text-align: center;
    font-size: 300%;
    margin: 2%;
}


.qDesc {
    font-size: 1.2em;
    white-space: pre-line;
}
.tag {
    background-color: #E1ECF4;
    position: relative;
    display: inline-block;
    padding: .4em .5em;
}
